.options-container {
    background-color: #181818dd;
    padding: 5px;
    margin-top: 44px;
    width: 400px;
    flow-children: down;
    height: 70px;
    transform: translateY(-900px);
    horizontal-align: middle;
}

.options-container.active {
    transform: translateY(0px);
}

.inputLabel {
    vertical-align: middle;
    text-align: right;
    width: 100px;
    padding-right: 5px;
}

.DemoButton Label {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    text-align: center;
}

.DemoButton.CloseButton {
    margin-right: 10px;
    width: 40px;
    horizontal-align: right;
}